@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  text-rendering: auto;
  text-rendering: optimizeSpeed;
  text-rendering: optimizeLegibility;
  text-rendering: geometricPrecision;
  leading-trim: both;
  text-edge: cap;
  }

@font-face {
    font-family: "Moderat-Regular";
    src:
      url("./assets/fonts/Moderat-Regular.otf") format("opentype"),
  }

  
@font-face {
    font-family: "Moderat-Medium";
    src:
      url("./assets/fonts/Moderat-Medium.otf") format("opentype"),
  }

