@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  text-rendering: auto;
  text-rendering: optimizeSpeed;
  text-rendering: optimizeLegibility;
  text-rendering: geometricPrecision;
  leading-trim: both;
  text-edge: cap;
}

.selected-projects-image-blur {
  background: rgba(255, 255, 255, 0.20);
  backdrop-filter: blur(100px);
  transition: all 0.25s ease-in-out;
  transition-delay: 300ms;
  opacity:0
}

@media only screen and (min-width:767px) {
  .selected-projects:has(.selected-projects-image-container:hover) .selected-projects-image-container:not(:hover) .selected-projects-image-blur {
    opacity:1;
   
  }
}


.fade-in-section {
  transition: background-color 0.3s ease, color 0.3s ease;
  transition-delay: 100ms;
}


#footer {
  position: fixed;
  top: 100%;
  left: 0;
  right: 0;
  
  z-index: 10; 
  transition: top 0.3s;
}

@media (max-width: 768px) {
  .footer-container {
    height: 100vh
  }
}

/** @format */
* {
  margin: 0;
  padding: 0;
}
body,
html {
  overscroll-behavior: none;
  min-height: 100vh;
  /* overflow: hidden; */
}



.menulink {
  line-height: 1 !important;
}

#glass.show {
  opacity: 100;
}

#menu.open {
  transform: translateX(0)
}

.custom-full-height {
  height: calc(100vh - 115px);
}