@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  text-rendering: auto;
  text-rendering: optimizeSpeed;
  text-rendering: optimizeLegibility;
  text-rendering: geometricPrecision;
  leading-trim: both;
  text-edge: cap;
}

.selected-projects-image-blur {
  background: rgba(255, 255, 255, 0.20);
  backdrop-filter: blur(100px);
  transition: all 0.25s ease-in;
  opacity:0;
 
}


html.lenis {
  height: auto;
}

.lenis.lenis-smooth {
  scroll-behavior: auto;
}

.lenis.lenis-smooth [data-lenis-prevent] {
  overscroll-behavior: contain;
}

.lenis.lenis-stopped {
  overflow: hidden;
}

.lenis.lenis-scrolling iframe {
  pointer-events: none;
}


@media only screen and (min-width:767px) {
  .selected-projects:has(.selected-projects-image-container:hover) .selected-projects-image-container:not(:hover) .selected-projects-image-blur {
    opacity:1;
   transition-delay: 300ms;
  }
}


.fade-in-section {
  transition: background-color 0.3s ease, color 0.3s ease;
  transition-delay: 100ms;
}


#footer {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1; 
}

@media (max-width: 768px) {
  .footer-container {
    height: 100vh
  }
}

/** @format */
* {
  margin: 0;
  padding: 0;
}
body,
html {
  overscroll-behavior: none;
  min-height: 100vh;
  /* overflow: hidden; */
}



.menulink {
  line-height: 1 !important;
}

#glass.show {
  opacity: 100;
}

#menu.open {
  transform: translateX(0)
}

.custom-full-height {
  height: calc(100vh - 115px);
}

.vimeo {
  max-width: unset;
  aspect-ratio: 16/9;
  object-fit: cover;
}

.test {
  height: 200vh;
  background: olive;
  text-align: center;
  color: white;
  font-size: 40px;
  padding: 5rem;
}
.swipe-section {
  position: relative;
  height: 100vh;
  width: 100%;
  overflow: visible;
}

.swipe-section .panel {
  position: absolute;
  width: 100vw;
  height: 85vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 600;
  font-size: 1.5em;
  text-align: center;
  color: white;
  box-sizing: border-box;
  padding: 10px;
  object-fit: cover;
}

.vh-200 {
  height: 500vh !important;
}

.red {
  background-color: red;
}
.purple {
  background-color: purple;
}
.blue {
  background-color: blue;
}
.orange {
  background-color: orange;
}
